@media print {
  body * {
    visibility: hidden;
  }
  .section-to-print,
  .section-to-print * {
    visibility: visible;
    width: 100%;
  }
  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    font-size: x-large;
  }
}

.header {
  width: 100%;
  height: 100px;
}

.body {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin: "auto";
}

.leftChild {
  float: left;
  width: 50%;
}

.rightChild {
  float: right;
  width: 50%;
}

.table {
  justify-content: "center";
  align-items: "center";
}

.footer {
  width: 100%;
  height: 100px;
}
